<!DOCTYPE html>
<html>
  <head>
    <title>TikiGram</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'index' %>
  </head>

  <body>
    <div id="app">
    </div>
  </body>
</html>
